<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
    <nav>
      <% if (user) { %>
        <!-- //Link for Feed Page  -->
        <a href="/vinyls"	<%- title === 'View Vinyls' ? 'class="active"' : '' %>>VIEW VINYLS</a>

        <!-- //Link for Profile Page  -->
        <a href="/vinyls/new"	<%- title === 'View PROFILE' ? 'class="active"' : '' %>>VIEW PROFILE</a>
        
        <a href="/index" <%- title === 'About' ? 'class="active"' : '' %>>ABOUT</a>
        <a href="/logout">LOG OUT</a>
      <% } else { %>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRF5zAa1Qoj6t1Mni_-A9zvCKNPTzQD0VYre8RDvBiBrg&s"></a>
        <% } %>
    </nav>
</body>
</html>