<%- include('./partials/header') %>

<div>
    <h4 id="landing-page-text">A one-of-a-kind platform that revolutionizes the way you buy, sell, and trade your beloved vinyl records.</h4>

    <h2 id="landing-page">spinly</h2>
</div>


<%- include('./partials/footer') %>
