<%- include('./partials/header') %>

<body id="body-index-page" style="background-image: url('https://cdn.britannica.com/18/19218-050-03EA5C8F/discs-polycarbonate-plastic.jpg');">
            <div><h2 id="landing-page-font">spinly</h2></div>
            <div><h4 id="landing-page-text">A one-of-a-kind platform that revolutionizes the way you buy, sell, and trade your beloved vinyl records.</h4></div>
            </body>


<%- include('./partials/footer') %>
