* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#nav-items {
  display:flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 100;
} 

#body-index-page {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-image: url('https://cdn.britannica.com/18/19218-050-03EA5C8F/discs-polycarbonate-plastic.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 10px;
  margin-top: 70px;
  padding: 10px;
}


#landing-page-font {
  /* font-family: 'Mothercode', sans-serif; */
  padding-top: 20px;
  font-family: 'Aveneur', sans-serif;
  font-size: 390px;
  margin: 0px;
  margin-bottom: 100px;
}

#landing-page-text {
  font-family: 'CMU Typewriter Text', sans-serif;
  font-size: 30px;
  text-align: center;
  margin-bottom: 160px;
}

a {
  /* color: #00B7FF; */
  color: black;
}

/* login CSS */
.login {
  display: flex;
  font-size: 18px;
  justify-content: flex-end;
}

.login img {
  width: 20px !important;
  height: 20px !important;
}

.h1-title {
  font-family: 'CMU Typewriter Text', sans-serif;
  font-size: 80px;

}

.user-details{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username{
  /* font-family: 'CMU Typewriter Text', sans-serif; */
  font-size: 15px;
  padding-bottom: 10px;

}

.input-text-field{
  width: 200px;
  height: 20px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-text-field:focus {
  border-color: black;
}

select {
  color: black;
  width: 200px;
  height: 23px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}


.footer{
  position: fixed;
  bottom: 0;
  right: 0;
  /* background-color: #f2f2f2; */
  padding: 20px;
  font-family: 'CMU Typewriter Text', sans-serif;
  font-size: 15px;
}


.footer img{
  width: 30px;
  height: 30px;
}

.login img {
  width: 10px;
  height: 10px;
}


/* Index - Vinyl Feed */

.vinyl-feed{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url('https://media.istockphoto.com/id/1144959743/photo/pastel-colored-holographic-background.jpg?s=612x612&w=0&k=20&c=dkdzPDfLoLZOZ0PH9Y7pz3yzNR0PehsZgc7ZYKo-PwE=');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  min-height: 100vh;
}


.vinyl-feed-avatar{
  display: flex;
  align-items: center;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  border: 2px solid purple;
}

.vinyl-feed-table-title {
  padding-top: 50px;
  font-family: 'CMU Typewriter Text', sans-serif;
  font-size: 25px;
  padding: 5px;
}

.vinyl-feed-table-text {
  /* font-family: 'CMU Typewriter Text', sans-serif; */
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 13px;
  vertical-align: top;
  padding: 8px;
  text-align: center;
}






/* New Page EJS */

.add-new-vinyl-form {
  /* padding-top: 70px; */
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url('https://media.istockphoto.com/id/1144959743/photo/pastel-colored-holographic-background.jpg?s=612x612&w=0&k=20&c=dkdzPDfLoLZOZ0PH9Y7pz3yzNR0PehsZgc7ZYKo-PwE=');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  min-height: 100vh;
}


.profile-avatar{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid purple;
}

.add-new-vinyl-form-text{
  font-family: 'CMU Typewriter Text', sans-serif;
  font-size: 25px;
}



/* Show Page EJS */

.vinyl-details-edit-delete-reviews{
  /* padding-top: 70px; */
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url('https://media.istockphoto.com/id/1144959743/photo/pastel-colored-holographic-background.jpg?s=612x612&w=0&k=20&c=dkdzPDfLoLZOZ0PH9Y7pz3yzNR0PehsZgc7ZYKo-PwE=');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  min-height: 100vh;
  
}

.show-vinyl-details-text {
  font-family: 'CMU Typewriter Text', sans-serif;
  font-size: 20px;
}

.button {
  display: inline-block;
  padding: 7px 7px;
  border: 2px solid #000;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: grey;
  color: #fff;
}


.show-profile-avatar{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid purple;
  
}

.profile-avatar-for-reviews {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 2px solid purple;
}

#update-vinyl-button{
  margin-top: 10px;
  margin-right: 320px;
}

#delete-vinyl-button{
  margin-top: 10px;
  margin-right: 340px;
}

/* Show Page EJS - Vinyl Reviews */

.vinyl-reviews-submit-form{
  padding-top: 20px;

}

.vinyl-reviews-title {
  padding-top: 50px;
  font-family: 'CMU Typewriter Text', sans-serif;
  font-size: 40px;
}

.reviews-table-text{
  font-family: 'CMU Typewriter Text', sans-serif;
  font-size: 30px;
}

.reviews-table-text-comment{
  font-family: 'CMU Typewriter Text', sans-serif;
  font-size: 15px;
  vertical-align: top;
  padding: 10px;
}

.reviews-table{
  padding-top: 55px;

}

#review-text-area{
  height: 40px;
  width: 300px;
}

.show-vinyl-reviews-form-text{
  font-family: 'CMU Typewriter Text', sans-serif;
  font-size: 20px;
}



/* Edit Page EJS */
.edit-vinyl {
  /* padding-top: 70px; */
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url('https://media.istockphoto.com/id/1144959743/photo/pastel-colored-holographic-background.jpg?s=612x612&w=0&k=20&c=dkdzPDfLoLZOZ0PH9Y7pz3yzNR0PehsZgc7ZYKo-PwE=');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  min-height: 100vh;
}

.edit-vinyl-details-text {
  font-family: 'CMU Typewriter Text', sans-serif;
  font-size: 30px;
}


