* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#nav-items {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 100;
} 

#body-index-page {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-image: url('https://cdn.britannica.com/18/19218-050-03EA5C8F/discs-polycarbonate-plastic.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 10px;
  margin-top: 70px;
  padding: 10px;
}


#landing-page-font {
  /* font-family: 'Mothercode', sans-serif; */
  font-family: 'Aveneur', sans-serif;
  font-size: 400px;
  margin: 0px;

}

#landing-page-text {
  font-family: 'CMU Typewriter Text', sans-serif;
  font-size: 25px;
  text-align: center;
}

a {
  /* color: #00B7FF; */
  color: black;
}

/* //login CSS */
.login {
  display: flex;
  font-size: 18px;
  justify-content: flex-end;
}

.login img {
  width: 30px;
  height: 30px;
}

.h1-title {
  font-family: 'CMU Typewriter Text', sans-serif;
  font-size: 80px;

}

.user-details{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username{
  /* font-family: 'CMU Typewriter Text', sans-serif; */
  font-size: 15px;
  padding-bottom: 10px;

}


/* Index - Vinyl Feed */


.vinyl-feed{
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



/* New Page */

.add-new-vinyl-form {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.profile-avatar{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.add-new-vinyl-form-text{
  font-family: 'CMU Typewriter Text', sans-serif;
  font-size: 30px;
}



/* Show Page */

.vinyl-details-edit-delete-reviews{
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}


.show-vinyl-details-text {
  font-family: 'CMU Typewriter Text', sans-serif;
  font-size: 21px;
}

.button {
  display: inline-block;
  padding: 7px 7px;
  border: 2px solid #000;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  transition: all 0.3s ease;
}


/* Show Page - Vinyl Reviews */


.show-profile-avatar{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  
}

.profile-avatar-for-reviews {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  margin-bottom: 10px;
}

#update-vinyl-button{
  margin-top: 10px;
  margin-right: 320px;
}

#delete-vinyl-button{
  margin-top: 10px;
  margin-right: 340px;
}

.vinyl-reviews-submit-form{
  padding-top: 20px;
}

.vinyl-reviews-title {
  padding-top: 50px;
  font-family: 'CMU Typewriter Text', sans-serif;
  font-size: 40px;
}

.reviews-table-text{
  font-family: 'CMU Typewriter Text', sans-serif;
  font-size: 30px;
}

.reviews-table-text-comment{
  font-family: 'CMU Typewriter Text', sans-serif;
  font-size: 15px;
  vertical-align: top;
  padding: 10px;
}

.reviews-table{
  padding-top: 55px;

}

#review-text-area{
  height: 40px;
  width: 300px;
}

.show-vinyl-reviews-form-text{
  font-family: 'CMU Typewriter Text', sans-serif;
  font-size: 20px;
}



/* Edit Page */
.edit-vinyl{
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.edit-vinyl-details-text {
  font-family: 'CMU Typewriter Text', sans-serif;
  font-size: 30px;
}


