<%- include('../partials/header') %>


<section>
<div>
    <ul>
        <li>Avatar</li>
        <li>Username</li>
        <li>Album Cover</li>
        <li>Exchange Type</li>
      </ul>
</div>
</section>


<a href="/vinyls/<%= vinyls._id %>/movies/new">
    <button>Add Record</button>
  </a>


<%- include('../partials/footer') %>
